* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 100%;
    min-height: 65px;
    background-color: white;
}
.first-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 13px;
}
.first-nav {
    display: flex;
    align-items: center;
}
.first-nav img {
    cursor: pointer;
}
.ul-li-clas ul{
    display: flex;
    list-style: none;
}
.ul-li-clas ul li a{
    text-decoration: none;
    margin-left: 35px;
    font-size: 16px;
    color: #060C1C;
    padding: 7px 13px;
    white-space: nowrap;
}
.second-nav {
    text-align: right;
    display: flex;
    align-items: center;
}
.navbar-div a {
    list-style: none;
    text-decoration: none;
    color: #4C70D5;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
.navbar-div i {
    color: #4C70D5;
}
.second-div {
    margin-left: 30px;
}
.second-div a{
    font-family: "DejaVu Sans M";
    color: #060C1C;
    font-size: 16px;
    text-decoration: none;
}
main {
    width: 100%;
    height: 100%;
    min-height: 800px;
}
.main-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    background-color: #FAFBFE;
}
.second-section {
    display: flex;
    flex-direction: column;
    width: 89%;
    margin: auto;
    position: absolute;
}
.col-xl-8 h1{
    max-width: 730px;
    color: #32323F;
    font-family: "DejaVu Sans M";
    font-size: 47px;
    line-height: 52px;
    text-align: left;
    font-weight: normal;
    font-weight: 300;
}
.col-xl-8 h4 {
    color: #333547;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 42px;
    text-align: left;
    margin-top: 20px;
}
.main-reviev-cont-div {
    display: flex;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 30px;
}
.review-cont span{ 
    color: #2E3239;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 35px;
}
.review-cont p {
    color: #7786A0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 23px;
}
.second-review-cont {
    text-align: center;
    margin-left: 100px;
}
.second-review-cont span {
    color: #2E3239;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 35px;
}
.second-review-cont p {
    color: #7786A0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 23px;
    display: flex;
    align-items: center;
}
.btn-1 {
    max-width: 450px;
    min-height: 72px;
    text-align: center;
    color: white;
    font-size: 28px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    box-shadow: 0 23px 39px -16px #1558c8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 22px;
    background-color: #2254a5;
}
.btn-1:hover {
    background-color: #3268c0;
}
.btn-2 {
    max-width: 450px;
    min-height: 72px;
    text-align: center;
    color: black;
    font-size: 28px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    box-shadow: 0 23px 39px -16px #1558c8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 22px;
    background-color: white;
}
.btn-2:hover {
    color: rgb(63, 63, 63);
}
.first-img-section {
    margin: 14% 0% 0% 50%;
}
.how-it-works{
    width: 100%;
    height: 100%;
}
.how-it-work-2 {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.caru-header h3{
    text-align: center;
    color: #1C2F4F;
    font-family: "BPG WEB 001 Caps";
    font-size: 31px;
    letter-spacing: 0;
    line-height: 31px;
    padding-top: 0px;
    margin-top: 6%;
}
.card-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}
.card-area h5 {
    color: #2354A5;
    font-family: "BPG WEB 001 Caps";
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: 20px;
}
.card-area p {
    color: #6B7A8B;
    font-family: FiraGO;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 23px;
    text-align: center;
    max-width: 320px;
    margin-top: 10px;
}
.pre-banner-section {
    width: 100%;
    height: 100%;
    min-height: 462px;
    background-color:#2354A5;
    margin-top: 6%;
}
.pre-banner-section h1 {
    text-align: center;
    color: #FFFFFF;
    font-family: "BPG WEB 001 Caps";
    font-size: 34px;
    letter-spacing: 0;
    line-height: 31px;
    margin-bottom: 45px;
    font-weight: 300;
    padding-top: 5%;
}
.banner-area{
    display: flex;
    justify-content: space-around;
}
.banner-area-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner-area-div h4 {
    color: #FFFFFF;
    font-family: "BPG WEB 001 Caps";
    font-size: 24px;
    letter-spacing: 0;
    line-height: 24px;
    margin: 18px 0px;
}
.banner-area-div p{
    color: #C2CFDE;
    font-family: FiraGO;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
    max-width: 250px;
    margin-bottom: 0px;
}
.main-a {
    color: #C2CFDE;
}
.main-a:hover {
    text-decoration: none;
}
.caru-purpose {
    width: 100%;
    height: 100%;
    min-height: 600px;
    padding-top: 13%;
    background-color: #FAFBFE;
}
.aside-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left :nth-child(1){
    position: absolute;
} 
.left :nth-child(2) {
    border-radius: 50%;
    max-width: 640px;
    min-height: 530px;
    margin-left: -10%;
    margin-top: -10%;
}
.right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 10%;
    margin-top: -8%;
}
.right h1 {
    color: #1C2F4F;
    font-family: "BPG WEB 001 Caps";
    font-size: 40px;
    letter-spacing: 0;
    line-height: 42px;
    max-width: 549px;
    text-align: center;
    margin-bottom: 35px;
}
.banners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}
.first-banner {
    border-radius: 26px;
    background-color: #FFFFFF;
    box-shadow: 0 11px 34px -5px rgb(13 52 117 / 13%);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 155px;
    min-height: 193px;
    margin: 0px 20px;
}
.first-banner h4 {
    color: #2354A5;
    font-family: FiraGO;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0;
    text-align: center;
    line-height: 25px;
    margin-top: 25px;
    margin-bottom: 0px;
}
.last-thing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.last-thing h4 {
    color: #34394B;
    font-family: FiraGO;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 29px;
    max-width: 500px;
    margin-top: 25px;
}
.last-thing button {
    width: 500px;
    border-radius: 37px;
    background-color: #2254a5;
    box-shadow: 0 23px 39px -16px #1558c8;
    min-height: 72px;
    color: #FFFFFF;
    font-family: "BPG WEB 001 Caps";
    font-size: 30px;
    line-height: 26px;
    margin-top: 55px;
    outline: none;
    border: none;
    cursor: pointer;
}
.people-review {
    width: 100%;
    height: 100%;
    background-color: #F3F6FA;
    margin-top: 150px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 95px;
    position: relative;
}
.people-review h1 {
    color: #1C2F4F;
    font-family: FiraGO;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 42px;
    padding-bottom: 0px;
    text-align: center;
    padding-top: 45px;
}
.first-img-div {
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-top: -10%;
}
.conteiner-son{
    width: 100%;
    height: 100%;
    min-height: 154px;
    padding: 26px;
    border-radius: 10px;
    background-color: #FFFFFF;
    max-width: 520px;
    box-shadow: 0 10px 49px 0 rgb(46 56 81 / 13%);
    margin: 15px 10px;

}
.conteiner-son p{
    color: #1C2F4F;
    font-family: FiraGO;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 19px;
}
.user-photo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}
.user-photo p {
    color: #1C2F4F;
    font-family: FiraGO;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 17px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.user-photo img{
    width: 27px;
    height: 27px;
    border-radius: 5px;
    margin-right: 10px;
    object-fit: cover;
}
.row {
    max-width: 380px;
    min-height: 116px;
    margin-top: 10%;
}
.top-assistents {
    width: 100%;
    height: 100%;
}
.top-assistents h1 {
    color: #1558C8;
    font-family: "BPG WEB 001 Caps";
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    padding-top: 40px;
}
.col-md-4 {
    display: flex;
}
.best-aside {
    display: flex;
}
.best-image-div img{
    height: 67px;
    width: 64px;
    border: 1px solid #D6E0F1;
    border-radius: 11px;
    object-fit: cover;
}
.greatest-div h3{
    color: #4A4E58;
    font-family: FiraGO;
    font-size: 21px;
    font-weight: bold ;
    letter-spacing: 0;
    line-height: 27px ;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 10px;
}
.greatest-div img {
    width: 28px;
    height: 28px;
    object-fit: contain;
    margin-left: 10px;
}
.greatest-div {
    display: flex;
    justify-content: center;
}
.icon-div {
    margin-left:-170px;
    margin-top: 30px;
}
.icon-div p {
    color: rgba(8, 23, 50, 0.76);
    font-family: FiraGO;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27px;
    font-weight: normal;
    margin-bottom: 0px;
}
.icon-div i {
    color: gold;
}
.main-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
}
.last-section {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    margin-right: 7%;
}
.main-ul {
    list-style: none;
    margin-top: 20px;
}
.main-ul li a {
    text-decoration: none;
    color: #060C1C;
    font-family: "DejaVu Sans";
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 1rem;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.main-ul li i {
    color: #4C70D5;
    margin-right: 12px;
    width: 16px;
}
.best-ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 10px;
}
.best-ul img {
    margin-top: 15px;
}
.great-ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
.great-ul img {
    max-width: 21px;
    min-height: 21px;
}
.great-ul a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #060C1C;
    font-family: "DejaVu Sans";
    font-size: 18px;
    margin-bottom: 1rem;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.footer-section {
    width: 100%;
    height: 100%;
    min-height: 200px;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}
.left-div {
    margin-left: 8%;
}
.rly-last-div {
    display: flex;
    align-items: center;
}
.rly-last-div p {
    margin-left: 5px;
}
.left-div a{
    text-decoration: none;
    color: #060C1C;
    font-family: DejaVu Sans;
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
}
.first-a {
    margin-top: 20px;
}
.right-div{
    margin-right: 8%;
    cursor: pointer;
}